@page
@model MicroOrder.WebApp.Pages.Catalog.IndexModel

﻿@using Microsoft.AspNetCore.Authentication
@{
}

<div class="row">
    @foreach (var catalogItem in Model.CatalogItems)
    {
        <div class="col-3">
            <div class="card">
                <div cite="card-body">
                    <h3>@catalogItem.Name</h3>
                    <span>@catalogItem.Price</span>
                    <button class="btn btn-primary">Add to cart</button>
                </div>
            </div>
        </div>
    }

    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>

    <h2>Properties</h2>

    <dl>
        @foreach (var prop in (await HttpContext.AuthenticateAsync()).Properties.Items)
        {
            <dt>@prop.Key</dt>
            <dd>@prop.Value</dd>
        }
    </dl>
</div>
